@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap');

@theme {
  --font-roboto-mono: "Roboto Mono", monospace;
}

/* @import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Momo+Signature&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); */

/* Landing page */

.Lheader {
  @apply flex pl-20 p-5 border-b border-blue-200 gap-5;
}

.Lmainsection {
  @apply max-w-350 mx-auto p-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 xl:gap-x-20;
}

.Lsection {
  @apply bg-white/20 p-6 rounded-2xl text-center shadow-md hover:shadow-xl hover:-translate-y-2 hover:border-blue-500 border border-transparent transition-all duration-300;
}

.LH {
  @apply text-lg font-semibold text-black mb-2 group-hover:text-blue-800 transition-colors;
}

.Lparagraph {
  @apply text-sm text-black bg-white/50 border-blue-100 rounded-lg p-3 mb-4;
}

/* Jaycee src */

.link {
  @apply text-black font-normal
        hover:-translate-y-2 hover:border-blue-500 border border-transparent transition-all duration-300;
}

.parts {
  @apply bg-white/70 font-[Mono] mb-10 p-5 pt-3 rounded-2xl shadow-2xl shadow-black;
}

.Topic {
  @apply bg-gradient-to-b from-blue-300 text-xl font-bold text-blue-700 font-sans rounded-2xl shadow-sm shadow-black p-4 mb-5 w-full text-center;
}

.figure {
  @apply p-5 m-10  rounded-2xl shadow-lg shadow-blue-200;
}

.paragraph {
  @apply mb-2 p-2 text-justify text-sm md:text-lg lg:text-lg xl:text-lg;
}

.ollist {
  @apply p-5 mb-5 text-sm md:text-lg lg:text-lg xl:text-lg rounded-2xl shadow-lg shadow-blue-200;
}

.ol {
  @apply p-3 text-sm md:text-lg lg:text-lg xl:text-lg border-t list-decimal border-dashed;
}

.listcontainer {
  @apply text-center p-3 text-sm md:text-lg lg:text-lg xl:text-lg shadow-lg shadow-blue-200 rounded-2xl
  hover:shadow-xl hover:-translate-y-2 hover:border-blue-500 transition-all duration-300;
}

.subtopic {
  @apply text-2xl font-bold mb-4 mt-6;
}

/* marco  */

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.sec1{
  @apply shadow-black shadow-lg text-center  p-3 ml-4 mr-4 md:m-10 lg:ml-24
  lg:mr-24 xl:ml-40 xl:pr-35 rounded-2xl  bg-gradient-to-tr from-slate-500 to-zinc-50 text-base sm:pb-10 mb-9 mt-80
}

.sec{
  @apply shadow-black shadow-lg text-center  p-3 ml-4 mr-4 md:m-10 lg:ml-24
  lg:mr-24 xl:ml-40 xl:pr-35 rounded-2xl  bg-gradient-to-tr from-slate-500 to-zinc-50 text-base  sm:pb-10 mb-9 mt-10
}

/*neww design

/* Landing page */

@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Momo+Signature&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.Lheader {
  @apply flex pl-20 p-5 border-b border-blue-200 gap-5;
}

.Lmainsection {
  @apply max-w-350 mx-auto p-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 xl:gap-x-20;
}

.Lsection {
  @apply bg-white/20 p-6 rounded-2xl text-center shadow-md hover:shadow-xl hover:-translate-y-2 hover:border-blue-500 border border-transparent transition-all duration-300;
}

.LH {
  @apply text-lg font-semibold text-black mb-2 group-hover:text-blue-800 transition-colors;
}

.Lparagraph {
  @apply text-sm text-black bg-white/50 border-blue-100 rounded-lg p-3 mb-4;
}

/* Jaycee src */

.link {
  @apply text-black rounded-xl p-2 font-normal
        hover:-translate-y-2 hover:border-blue-500 border border-transparent transition-all duration-300;
}

.parts {
  @apply bg-white/70 font-[Mono] mb-10 p-5 pt-3 rounded-2xl shadow-2xl shadow-black;
}

.Topic {
  @apply bg-gradient-to-b from-blue-300 text-sm md:text-xl lg:text-xl xl:text-xl font-bold text-blue-700 font-sans rounded-2xl shadow-sm shadow-black p-3 mb-5 text-center;
}

.figure {
  @apply p-5 m-10  rounded-2xl shadow-lg shadow-blue-200;
}

.paragraph {
  @apply mb-2 p-2 text-justify text-sm md:text-lg lg:text-lg xl:text-lg;
}

.ollist {
  @apply p-5 mb-5 text-sm md:text-lg lg:text-lg xl:text-lg rounded-2xl shadow-lg shadow-blue-200;
}

.ol {
  @apply p-3 text-sm md:text-lg lg:text-lg xl:text-lg border-t list-decimal border-dashed;
}

.listcontainer {
  @apply text-center p-3 text-sm md:text-lg lg:text-lg xl:text-lg shadow-lg shadow-blue-200 rounded-2xl
  hover:shadow-xl hover:-translate-y-2 hover:border-blue-500 transition-all duration-300;
}

.subtopic {
  @apply text-2xl font-bold mb-4 mt-6;
}

.footerSection1 {
  @apply bg-gradient-to-b from-blue-300 to-blue-100 flex justify-center items-center text-sm md:text-lg lg:text-lg xl:text-lg text-center gap-5 p-5 ml-3 mr-3 mb-2 rounded-2xl md:gap-30 lg:gap-30 xl:gap-40;
}
.footerSection1 {
  @apply bg-gradient-to-b from-blue-300 to-blue-100 flex justify-center items-center text-sm md:text-lg lg:text-lg xl:text-lg text-center gap-5 p-5 ml-3 mr-3 mb-2 rounded-2xl md:gap-30 lg:gap-30 xl:gap-40;
}

/* Kylieeee SRC */

/* npx @tailwindcss/cli -i ./src/input.css -o ./src/output.css --watch */

.article{
  @apply bg-white/20 text-left sm:mr-4 ml-4 lg:mr-4 ml-4 mt-5 mb-5 p-2 rounded-lg;
}

.Li{
  @apply list-disc ml-2 mb-2 text-base md:mr-5 lg:text-lg rounded-lg hover:scale-101 transition-all duration-300 hover:underline
}
.Li_num{
  @apply list-decimal ml-2 mb-2 text-base md:mr-5 lg:text-lg rounded-lg hover:scale-101 transition-all duration-300 hover:underline
}
.pgraph{
  @apply text-base/8 indent-8 md:mr-5 ml-2 mt-5 lg:text-lg ml-5 mr-5 mt-5 text-justify rounded-lg hover:scale-101 transition-all duration-300 hover:bg-black/18;
}

.bullet{
  @apply text-base/8 md:mr-5 ml-2 mt-5 lg:text-xl ml-12 mr-5 mt-5 text-justify;
}

.aboutheading{
  @apply sm:text-2xl md:text-lg lg:text-3xl font-bold mt-7 mb-5 sm:ml-10 lg:mr-10;
}

.topicheading{
  @apply sm:text-lg md:text-xl lg:text-2xl font-bold mt-7 mb-5 sm:ml-10 lg:mr-10;
}

.figcaption{
  @apply  italic text-sm md:text-lg lg:text-lg xl:text-lg text-center mt-3;
}

.imgfig{
  @apply mx-auto mt-10 mb-10 rounded-lg shadow-xl/60 transition-all duration-300 ease-in-out hover:scale-105;
}
